<!doctype html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>KaiXin_后台</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="__ADMINSTATIC__/images/kaixin.png"/>
    <link rel="stylesheet" href="__ADMINSTATIC__/css/font.css">
    <link rel="stylesheet" href="__ADMINSTATIC__/css/xadmin.css">
    <script>
        // 是否开启刷新记忆tab功能
        // var is_remember = false;
    </script>
</head>
<body class="index">
{block name="top"}

{/block}
{include file="public/extend"}
{block name="js"}

{/block}
<div class="layui-col-md12" >
    <blockquote class="layui-elem-quote layui-quote-nm"><span
            style="margin: 0 auto">© 2020 💨 💨 💨 💨  至今 </span> ➕<span style="margin:0 auto"> <a
            href="https://beian.miit.gov.cn/" target="_blank">冀ICP备2020027051号</a></span></span></blockquote>
</div>
</body>
</html>